<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppsFlyerAppID</key>
	<string>6753883494</string>
	<key>AppsFlyerDevKey</key>
	<string>BBxQP9cF4EkjK3DHFVM735</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>772717235504519</string>
	<key>FacebookClientToken</key>
	<string>79204149193ef0bb74119bdf12ae1d38</string>
	<key>FacebookDisplayName</key>
	<string>YTong</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>whatsapp</string>
		<string>instagram</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>fzktjw.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yitong.ytongvideo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ytongvideo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
